<div class="row">

    <h3><sg> {{ page.title }} </sg></h3>
    <br><br>
    <p> {{ page.authors }} </p>

    <!-- <div align="center" style="padding: 10px">
	<img class="img-responsive" src="{{ page.image }}">
    </div> -->

    <p><b>Abstract:</b>{{ page.abstract }}</p>

    <br><br>

    <p><b>Paper:</b> <a href="{{ page.journalurl }}" target="_blank"> {{ page.journal }} </a></p>
    {% if page.pubmedurl != null %}
    <p> | <a href="{{ page.pubmedurl }}" target="_blank"> Pubmed </a></p>
    {% endif %}
    <p> | <a href="{{ page.pdfurl }}" target="_blank"> PDF </a></p>

    {% if page.code != null %}
    <b>Relevant code:</b>
    <ul class="icons">
        <li><a href="{{ page.code }}" class="icon-b fa-github"><span class="label">Github</span></a></li>
    </ul>
    <!-- <a href="{{ page.code }}" target="_blank"> <i class="fab fa-2x fa-github"></i></a> -->
    {% endif %} 

</div>
