---
layout: default
---

{%- assign _papers = site.papers | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_papers -%}

<!-- Main -->
<div id="main">

	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}

	<!-- Posts List -->
	{%- for _paper in _papers -%}

		{%- capture _title -%}
			<a href="{{- _paper.url | absolute_url -}}">{{- _paper.title -}}</a>
		{%- endcapture -%}

		{%- capture _subtitle -%}
			{% if _paper.author -%}{{- _paper.author }} | {% endif %}
			{{- _paper.date | date_to_long_string -}}
		{%- endcapture -%}

		{%- capture _excerpt -%}
			<p>{{- _paper.excerpt | strip_html | truncatewords: 40 -}}</p>
		{%- endcapture -%}

		{%- capture _link -%}
			<a href="{{- _paper.url | absolute_url -}}">read more</a>
		{%- endcapture -%}

		{%- assign _content = _excerpt | append: _link -%}

		<!-- place assignments and captures of "_title", "_subtitle", "_excerpt/_content + _link" defined above? into page -->
		{%- include section.html title=_title subtitle=_subtitle content=_content -%}

	{%- endfor -%}
	
</div>